.complete-form {
  width: 50%;
  float: left;
}

h3, h5 {
  text-align: center;
}

#project-selection {
  width: 25%;
}

.issue-section {
  padding-left: 20px;
}

#issue-project {
  display: inline-block;
  width: 25%;
}

.issue-state {
  display: inline-block;
}

.find-btn {
  display: inline-block;
  margin: 0px 0px 7px 10px;
}

.display-issue {
  border: solid;
  border-width: 2px;
  margin-top: 10px;
  padding: 10px 10px 10px 10px;
}

.issue-btn, .state-btn {
  font-size: 11px;
  height: 20px;
  line-height: 0px;
}

#issue-open {
  color: green
}

#issue-closed {
  color: green
}

.top-div {
  padding: 10px 10px 10px 10px;
  display: inline-block;
}

.edit-header {
  float: left;
}

.edit-form {
  padding: 10px 10px 10px 10px;
}

.close-btn {
  float: right;
}