.complete-form {
  width: 50%;
  float: left;
}

h3, h5 {
  text-align: center;
}

#project-selection {
  width: 25%;
}

.issue-section {
  padding-left: 20px;
}

#issue-project {
  width: 25%;
}

.find-project {
  height: 80px;
}